.cube {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  width: 200px;
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cube:hover {
  transform: rotateX(180deg) rotateY(720deg);
}